ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}
button {
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
p,
ul,
span {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}
