.main{
  padding-top: 20px;
 
  @include tablet {
    padding-top: 60px;
  }
}
.film {
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--mainWhite);
  display: inline-block;
  transition-timing-function: ease-in-out;
  transition-duration: 350ms;
  transition-property: box-shadow, transform;
  &:hover {
    box-shadow: 0px 2px 24px -5px rgba(0, 0, 0, 0.74);
    transform: scale(1.02);
  }

  &__image {
    margin-bottom: 12px;
    // max-width: 395px;
    // max-height: 575px;
    @include mobile {
      max-width: 280px;
      max-height: 400px;
    }

    @include tablet {
      max-width: 335px;
      max-height: 455px;
    }

    @include desktop {
      max-width: 395px;
      max-height: 575px;
    }
  }
  &__meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 12px;
    margin-left: 12px;
  }

  &__title {
    font-family: 'Roboto';
    font-weight: 500;
    text-transform: uppercase;
    color: var(--mainBlack);
    @include mobile {
      font-size: 12px;
      line-height: calc(16 / 12);
    }

    @include tablet {
      font-size: 12px;
      line-height: calc(16 / 12);
    }

    @include desktop {
      font-size: 20px;
      line-height: calc(24 / 20);
    }
  }
  &__description {
    display: flex;
    align-items: center;
  }
  &__genre {
    font-family: 'Roboto';
    font-weight: 500;
    color: var(--accent);

    margin-right: 5px;

    @include mobile {
      font-size: 12px;
      line-height: calc(16 / 12);
    }

    @include tablet {
      font-size: 12px;
      line-height: calc(16 / 12);
    }

    @include desktop {
      font-size: 20px;
      line-height: calc(24 / 20);
    }
  }
  &__year {
    font-family: 'Roboto';
    font-weight: 500;
    color: var(--accent);

    margin-right: 5px;

    @include mobile {
      font-size: 12px;
      line-height: calc(16 / 12);
    }

    @include tablet {
      font-size: 12px;
      line-height: calc(16 / 12);
    }

    @include desktop {
      font-size: 20px;
      line-height: calc(24 / 20);
    }

    &::before {
      content: '';
      display: inline-block;
      width: 2px;
      height: 13px;

      margin-right: 5px;
      background-color: var(--accent);
    }
  }
  &__rating {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--mainWhite);

    width: 36px;
    height: 16px;

    border-radius: 5px;

    background-color: var(--accent);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 16px;
}
