.tui-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tui-custon {
  font-size: 15px;
  text-decoration: none;
  width: 40px;
  display: flex;
  font-weight: 500;
  height: 40px;
  color: #ff0;
  background-color: #312ecc;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
}

.tui-custon-is-selected {
  background-color: rgb(164, 10, 242);
}